## Sets

- [**Creating Sets**](#creating_sets)
- [**Common Operations**](#common_operations)
- [**Set Operations**](#set_operations)
- [**Update Operations**](#update_operations)
- [**Copying Sets**](#copying_sets)
- [**Frozen Sets**](#frozen_sets)

---

### Creating Sets <a name='creating_sets'></a>

> Use literals

In [1]:
my_set = {'a', 12, 3.14}
print(my_set)

{3.14, 'a', 12}

> Use `set()`

In [2]:
print(set([1, 7, 9, 9, 2]))

{1, 2, 9, 7}

> Use comprehension

In [3]:
print({c for c in 'Taylor'})

{'T', 'r', 'o', 'y', 'l', 'a'}

---

### Common Operations <a name='common_operations'></a>

> Get length

In [4]:
len({1, 2, 3, 3})

3

> Test existence of an element

In [5]:
my_set = {1, 2, 3, 3}
print('a' in my_set)

False

> Add elements

In [6]:
my_set = {1, 2}
my_set.add(3)
print(my_set)

{1, 2, 3}

> Remove elements

In [7]:
# Remove an element with potential exception 
my_set = {1, 2}
try:
    my_set.remove(3)
except KeyError as ex:
    print('Element is not found')

Element is not found

In [8]:
# Discard an element
my_set = {1, 2}
my_set.discard(3)
print(my_set)

{1, 2}

In [9]:
# Pop a random element (if empty an exception will be thrown)
my_set = {1, 2, 3}
my_set.pop()
print(my_set)

{2, 3}

---

### Set Operations <a name='set_operations'></a>

Set operations can be done either using built-in methods or operands, where operands can only be executed on `sets`, wheras methods can also take in `iterables`. However, the `iterables` can only include hashable (immutable) elements because set operation methods are basically converting the given `iterable` into a `set` first and then execute.

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {5, 6}

> Intersection

In [11]:
# Use method
s1.intersection(s2)

{2, 3}

In [12]:
# Use operand
s1 & s2

{2, 3}

> Union

In [13]:
# Use method
s1.union(s2)

{1, 2, 3, 4}

In [14]:
# Use operand
s1 | s2

{1, 2, 3, 4}

> Disjoint

In [15]:
s1.isdisjoint(s2)

False

In [16]:
s1.isdisjoint(s3)

True

> Difference

In [17]:
# Use method
s1.difference(s2)

{1}

In [18]:
# Use operand
s2-s1

{4}

> Symmetric difference (xor)

In [19]:
# Use method
s1.symmetric_difference(s2)

{1, 4}

In [20]:
# Use operand
s1 ^ s2

{1, 4}

> Super/sub set

In [21]:
s1_super = {1, 2, 3, 4}
s1_sub = {2}

In [22]:
# Use method
s1.issubset(s1_super)

True

In [23]:
# Use method
s1.issuperset(s1_sub)

True

In [24]:
# Use operand
s1 < s1_super

True

In [25]:
# Use operand
s1 > s1_sub

True

---

### Update Operations <a name='update_operations'></a>

Instead of creating new sets, one can use specific mutable operands to modify the existing sets.

> Intersaction update

In [26]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [27]:
# Use method
print('Id before: ', id(s1))
s1.intersection_update(s2)
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739552
{2, 3}
Id after:  1938807739552

In [28]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [29]:
# Use operand
print('Id before: ', id(s1))
s1 &= s2
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739104
{2, 3}
Id after:  1938807739104

> Union update

In [30]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [31]:
# Use method
print('Id before: ', id(s1))
s1.update(s2)
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739328
{1, 2, 3, 4}
Id after:  1938807739328

In [32]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [33]:
# Use operand
print('Id before: ', id(s1))
s1 |= s2
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739104
{1, 2, 3, 4}
Id after:  1938807739104

> Difference update

In [34]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [35]:
# Use method
print('Id before: ', id(s1))
s1.difference_update(s2)
print(s1)
print('Id after: ', id(s1))

Id before:  1938807741792
{1}
Id after:  1938807741792

In [36]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [37]:
# Use operand
print('Id before: ', id(s1))
s1 -= s2
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739552
{1}
Id after:  1938807739552

> Symmetric difference update

In [38]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [39]:
# Use method
print('Id before: ', id(s1))
s1.symmetric_difference_update(s2)
print(s1)
print('Id after: ', id(s1))

Id before:  1938807739104
{1, 4}
Id after:  1938807739104

In [40]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [41]:
# Use operand
print('Id before: ', id(s1))
s1 ^= s2
print(s1)
print('Id after: ', id(s1))

Id before:  1938807741792
{1, 4}
Id after:  1938807741792

---

### Copying Sets <a name='copying_sets'></a>

Copying sets is very similar to copying dictionaries and can be categorized into `shallow` and `deep` copying.

In [42]:
class Person:
    pass

In [43]:
p1 = Person()
p2 = Person()

In [44]:
s = {p1, p2}

* Shallow copy:

In [45]:
s_copy = s.copy()

In [46]:
print('Copy and original are the same object: ', s_copy is s)

Copy and original are the same object:  False

In [47]:
print('Copied and original inner objects are the same: ', (p1 in s_copy) & (p2 in s_copy))

Copied and original inner objects are the same:  True

* Deep copy:

In [48]:
from copy import deepcopy

In [49]:
s_deep_copy = deepcopy(s)

In [50]:
print('Copy and original are the same object: ', s_deep_copy is s)

Copy and original are the same object:  False

In [51]:
print('Copied and original inner objects are the same: ', (p1 in s_deep_copy) & (p2 in s_deep_copy))

Copied and original inner objects are the same:  False

---

### Frozen Sets <a name='frozen_sets'></a>

Frozen set is the immutable version of set and thus hashable.

* Definition:

In [52]:
s_frozen = frozenset([1, 2, 3])
hash(s_frozen)

-272375401224217160

* Operation:  
If apply operations on `set` and `frozenset` at the same time, the order will determine the type of final output.

In [53]:
s = {1, 2, 'a'}
s_frozen = frozenset('abc')
print(type(s | s_frozen))

<class 'set'>

In [54]:
print(type(s_frozen & s))

<class 'frozenset'>